{
    margin: 0;
    padding: 0;
    
        
}

body {
    color: #0d0369;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #aab7b8;
}

header {
    padding: 0;
    background-color: #aab7b8;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    size: 70px 100%;
}

header nav {
    display: flex;
        margin: 0;
    background-color: #aab7b8;
    border: 70px 100%;
    
    

}
.links {
    align-self: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color:#aab7b8;
    margin: 3px 700px 0px 0px;
    
    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
    
    
    
}

header nav ul li a {
    margin: 5px;
    font-weight: lighter;
    font-size: 22px;
    align-self: flex-end;
    
}


.about-me {
    
    
    font-size: 44px;
    
    background-color: #aab7b8;
}

.about-me h1 {
    margin: 4px 50px 4px 50px;
    display: flex;
    flex-flow: column wrap;
    border-left: 4px solid black;
}

.banner-image {
    
    margin: 0 auto;
}

.banner-image div img {
    height: 250px;
    width: 100%;
    object-fit: fill;

}