{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    color: #07023b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.nav {
    color:#aab7b8;
    padding-bottom: 10px;
    background-color: #07023b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.nav-name {
    
    background-color: #07023b;
    padding-left: 15px;
    padding-right: 699px;
    display: inline-flex;
    
    
    
    
}

.nav-links {
    list-style: none;    
    padding-right: 0px;
    display: inline-flex;
    
    
    
    

}

header h1 a {
    font-weight: none;
    font-size: 35px;
    color:#aab7b8;
        
}

header nav ul li a {
    padding: 5px;
    font-weight: lighter;
    font-size: 22px;
    color: #aab7b8;
        
}


.about-me {
    font-size: 40px;
    background-color: #aab7b8;
    display: flex;
    
}

.about-me-title {
    padding: 0px 50px 0px 225px;
    display: flex;
    flex-flow: wrap;
    border-right: 8px solid rgb(226, 147, 42);
    justify-content: flex-start;
    flex: 1 20%;
}
.about-me-text {
    padding: 0px 225px 0px 50px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    flex: 1 80%;

}

.banner-image {
    
    
}

.banner-image div img {
    height: 275px;
    width: 100%;
    object-fit: fill;

}